header {
  background-color: var(--bg-tertiary-color);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
}
header a img {
  width: 68px;
  height: 64px;
}
.navigation-menu {
  margin-top: 24px;
}
nav {
  display: none;
}
